{% extends 'base.html' %}
{% block contact_me %}
<div class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>I love my fans!</em></p>
  <div class="row test">
    <div class="col-md-4">
      <p>Fan? Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Bangalore, India</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +91 9844816548</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: sumit_skr@hotmail.com</p> 
    </div>
  </div>
 </div>   
{% endblock %}