{% extends 'base.html' %}
<!-- <html>
<head>
  <link rel="stylesheet" type="text/css" href="/site_media/css/python_hol.css">
  <link rel="stylesheet" type="text/css" href="/site_media/css/bootstrap.min.css">
</head>
<body> -->
{% block employee_list %}
<div id="content">
<a href="/employees/create" class="addlink">Add New Employee</a>
{% if object_list %}
  <table id="employee_list_table" frame="hsides" rules="cols" style="border-width: 5px">
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Manager</th>
      <th>Hire Date</th>
      <th>Salary</th>
      <th>Comments</th>
    </tr>
  {% for employee in object_list %}
    <tr>
      <td><a href="/employees/update/{{ employee.empno }}/">{{ employee.ename }}</a></td>
      <td>{{ employee.job }}</td>
      <td>{{ employee.mgr }}</td>
      <td>{{ employee.hiredate }}</td>
      <td>{{ employee.sal }}</td>
      <td>{{ employee.comm }}</td>
      <td><a href="/employees/delete/{{ employee.empno }}/">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No employees found.</p>
{% endif %}
<div style="margin-top:10px;"/>
{% if page_range %}
<ul class="page_list">
{% for page in page_range %}
<li><a href="/employees/?page={{page}}">{{page}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No more pages.</p>
{% endif %}
</div>
</div>
{% endblock %}

{% block loggedin %}
<h2>Hi {{ full_name }} :: </h2>
<p><a href="/accounts/logout" >Sign-off </a></p>
{% endblock %}

<!-- </body>
</html> -->
